.topBanner {
  background-image: url("../images/banner.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.topBannerOverlay {
  position: absolute;
  min-height: 500px;
  width: 100%;
  background: rgba(8, 8, 14, 0.644);
}
.topContent {
  margin-top: 10em;
}
.reactProject {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 50px;
}
.frameworkLife {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 20px;
}
.designIcon {
  height: 70px;
  width: 60px;
}
.ecommerceIcon {
  height: 70px;
  width: 60px;
}
.webIcon {
  height: 70px;
  width: 60px;
}
.serviceCard {
  margin: 5px 5px 5px 5px;
  height: 20rem;
  padding: 60px 30px 60px 30px;
  box-shadow: 0 0 8px 0 rgb(4, 55, 105, 0.2);
}
.serviceCard:hover {
  margin: 5px 5px 5px 5px;
  height: 20rem;
  padding: 60px 30px 60px 30px;
  box-shadow: 0 0 15px 0 rgba(7, 112, 233, 0.2);
}
.serviceH2 {
  color: rgb(10, 247, 247);
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.serviceP {
  color: rgb(3, 3, 85);
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
}
.allServicesH1 {
  color: rgb(1, 8, 44);
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 25px;
}
/* .allServicesLine {
  background: rgb(7, 1, 43) none repeat scroll 0 0;
  height: 3px;
  width: 80px;
  margin: -1, 9rem auto 0;
  margin-bottom: 2rem;
} */
.navtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: rgb(255, 255, 255) !important;
}
.navtitlescroll {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: rgb(14, 236, 236) !important;
}
.navBackground {
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  background-color: rgba(00, 00, 00, 0) !important;
}
.navBackgroundscroll {
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  background-color: rgb(29, 28, 28) !important;
}
.navBarItems {
  text-decoration: none !important;
  font-family: "Montserrat", sans-serif;
  color: rgb(14, 236, 236);
  font-weight: 400;
  font-size: 15px;
}
.navBarItems:hover {
  text-decoration: none !important;
  font-family: "Montserrat", sans-serif;
  color: rgb(62, 236, 140);
}
.navBarItemsscroll {
  text-decoration: none !important;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255) !important;
  font-weight: 400;
  font-size: 15px;
}
.analysisP {
  text-align: justify;
  text-justify: inter-word;
}
.summaryBanner {
  background-image: url("../images/summary.jpg");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.summaryBannerOverlay {
  position: absolute;
  min-height: 400px;
  width: 100%;
  background: rgba(5, 5, 59, 0.644);
}
.countNumber {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 25px;
}
.countTitle {
  font-family: "Raleway", sans-serif;
  color: rgb(10, 247, 247);
  font-weight: 600;
  font-size: 20px;
}

.countRow {
  margin-top: 20%;
  padding: 10px 10px 10px 10px;
}
.cardTitle {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.cardP {
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.cardWorkMain {
  margin-top: 25%;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
}
.iconCheck {
  color: aqua;
  font-size: 15px;
}
.iconSection {
  color: aqua;
  font-size: 30px;
}
.projectCard {
  background: white;
  width: 23em;
  border-radius: 0.5em;
  margin: 1em;
  cursor: pointer;
  box-shadow: 0px 13px 25px -4px;
  transition: all ease 200ms;
}
.projectCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 13px 28px -4px;
}
.courseImage {
  width: 100%;
}
.courseViewDetails {
  color: rgb(6, 41, 196);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
.VideoText {
  margin-top: 3px;
}
.VideoCard {
  box-shadow: 0px 13px 25px -4px;
  padding: 7rem 4rem 7rem 4rem;
  background-color: rgb(5, 5, 54);
  margin: 18px auto;
  border-radius: 6px;
}
.sliderBack {
  background-color: rgb(5, 5, 54);
  min-height: 450px;
}
.reviewTitle {
  color: aqua;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 25px;
}
.reviewTitleBottom {
  color: aqua;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 25px;
}
.reviewImage {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 50%;
}
.reviewH2 {
  color: rgb(10, 247, 247);
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.reviewP {
  color: rgb(255, 255, 255);
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.aboutUsImageSection {
  width: 500px;
  height: 500px;
  background-color: rgb(5, 5, 54);
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  float: right;
}
.aboutUsImage {
  height: 100%;
  margin-top: 200px;
}
.aboutUsBody {
  width: 100%;
  height: 100%;
  padding-left: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
}
.aboutUsTitle {
  color: rgb(21, 201, 192);
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: 400;
}
.aboutUsDetails {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: rgb(6, 20, 65);
}
.footerSection {
  margin-top: 6rem;
  box-shadow: 0 5px 5px -3px;
  background-color: rgb(6, 20, 65);
}
.footerName {
  color: white;
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.socialIconSection {
  margin-top: 30px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  color: white;
}
a.social:hover {
  transform: translateY(-3px);
  color: aqua;
}
.footerAddress {
  color: azure;
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.footerLink {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: azure;
}
.footerLink:hover {
  text-decoration: none;
  color: rgb(12, 238, 238);
}
.copyrightSection {
  padding: 20px 20px 20px 20px;
  background-color: rgb(3, 2, 75);
}
.copyrightLink {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: azure;
}
.copyrightLink:hover {
  text-decoration: none;
  color: rgb(21, 226, 226);
}
.topPageContainer {
  background-image: url("../images/page.jpg");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.topPageOverlay {
  position: absolute;
  min-height: 300px;
  width: 100%;
  background: rgba(8, 8, 71, 0.644);
}
.topPageContent {
  margin-top: 8em;
}
.topPageTitle {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: rgb(126, 224, 15);
  font-size: 40px;
}

/* Welcome Home Section*/
.WelcomeHomeTop {
  margin-top: -70px;
  position: relative;
  z-index: 2;
}
.WelcomeHome2nd-section {
  margin-bottom: 45px;
  position: relative;
}
.WelcomeHome2nd-section .WelcomeHome3rd-H6 {
  font-weight: 700px;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}
.WelcomeHome2nd-section .WelcomeHome3rd-H6.double-line:before {
  content: "";
  position: absolute;
  left: -50px;
  top: 10px;
  height: 3px;
  width: 40px;
  background: rgb(9, 224, 196);
}
.WelcomeHome2nd-section .WelcomeHome3rd-H6.double-line:after {
  content: "";
  position: absolute;
  right: -50px;
  top: 10px;
  height: 3px;
  width: 40px;
  background: rgb(9, 224, 196);
}

.WelcomeHome3rd {
  box-shadow: 0 0 30px rgb(0 0 0 / 7%);
  background: white;
  padding: 50px 0 0;
  border-radius: 8px;
}

.WelcomeHomeMain {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: rgb(6, 20, 65);
}
.welcomeIcon {
  height: 150px;
  width: 150px;
}
.engineerIcon {
  height: 50px;
  width: 50px;
}
.intro-footer {
  padding: 30px 30px 10px;
  border-radius: 0 0 7px 7px;
}
.bg-base {
  background: #ffd104;
}
.imgPosition {
  margin-top: 15px;
}
.engineerH2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: rgb(6, 20, 65);
}
.linkStyle {
  color: rgb(255, 255, 255) !important;
  text-decoration: none !important;
  font-weight: 700;
}
.linkStyle:hover {
  color: rgb(248, 191, 4) !important;
  text-decoration: none !important;
  font-weight: 700;
}

.about-thumb-wrap.after-shape {
  margin-left: 30px;
}
.about-thumb-wrap.after-shape:after {
  content: "";
  position: absolute;
  right: 40px;
  width: 154px;
  height: 80%;
  top: 10%;
  border-radius: 10px;
  background: rgb(250, 213, 4);
  z-index: -1;
  transform: translateX(-50%);
}
.project {
  margin-left: 10px;
}
.projecth1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: rgb(9, 245, 205);
}
.projectp {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: rgb(2, 19, 45);
  font-size: 16px;
}

/*COURSE DETAILS */

.coursedetails {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: rgb(9, 245, 205);
}
.coursedetailsimage {
  width: 100%;
}
.widget_feature {
  border: 1px solid #cbd6e2;
}
.widget-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: rgb(9, 245, 205);
  position: relative;
}
.widget_feature ul {
  padding: 0 25px 20px;
}
.widget_feature ul li {
  color: rgb(2, 23, 43);
  font-size: 16px;
  margin-bottom: 9px;
  list-style: none;
}
.widget_feature ul li span {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: rgb(2, 23, 43);
  margin-right: 5px;
}
.widget_feature .price-wrap {
  background-color: #707375;
  padding: 34px 23px 40px;
}
.reactproject {
  color: aqua;
  text-decoration: none;
}
.reactproject:hover {
  color: rgb(255, 251, 0);
  text-decoration: none;
}
